* {
  font-family: sans-serif;
}
.navbar a,
.link {
  color: white;
}
a:hover {
  color: #e6e6e6;
}
.masterContainer {
  text-align: center;
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
}
.masterContainer .navbar {
  background-color: #a3c5cf;
  height: 4em;
  padding-top: 10px;
  position: fixed;
  width: 900px;
}
.masterContainer .navbar a {
  text-decoration: none;
  padding: 0 10px;
}
.masterContainer .navbar li {
  list-style-type: none;
  display: inline;
}
.space {
  margin: 100px;
}
.myName h1 {
  margin-bottom: 0;
}
.myName h3 {
  margin-top: 0;
}
.about h2 {
  border-top-style: solid;
  border-top-color: #a3c5cf;
  border-bottom-style: solid;
  border-bottom-color: #a3c5cf;
}
.about .leftColumn {
  float: left;
}
.mySkills h2 {
  border-top-style: solid;
  border-top-color: #a3c5cf;
  border-bottom-style: solid;
  border-bottom-color: #a3c5cf;
}
.myProjects h2 {
  border-top-style: solid;
  border-top-color: #a3c5cf;
  border-bottom-style: solid;
  border-bottom-color: #a3c5cf;
}
.myExperience h2 {
  border-top-style: solid;
  border-top-color: #a3c5cf;
  border-bottom-style: solid;
  border-bottom-color: #a3c5cf;
}
.contactMe h2 {
  border-top-style: solid;
  border-top-color: #a3c5cf;
  border-bottom-style: solid;
  border-bottom-color: #a3c5cf;
}
.learnMixin,
#learnMixinid {
  color: red;
}
.mixin-class {
  color: red;
}
.mixin-id {
  color: red;
}
li {
  list-style-type: none;
}
.footer ul li {
  text-decoration: none;
  display: inline;
}
li a {
  color: #a3c5cf;
}
a:hover {
  color: black;
}
